<p id="notice"><%= notice %></p>

<% if current_user %>
<h1>Listing Tweets From People You're Following</h1>
<% else %>
<h1>Listing Tweets</h1>
<% end %>

<table id="tweets">

  <tbody>
    <% @tweets.each do |tweet| %>
      <tr>
        <td class="user"><%= tweet.user.name if tweet.user %></td>
        <td class="content"><%= tweet.content %></td>
        <td><%= link_to 'Show', tweet %></td>
        <% if current_user && current_user == tweet.user %>
          <td><%= link_to 'Edit', edit_tweet_path(tweet) %></td>
          <td><%= link_to 'Destroy', tweet, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% else %>
          <td></td>
          <td></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Tweet', new_tweet_path %>
