<h1><%= @user.name %></h1>

<% if current_user && @user != current_user %>
  <% if current_user.does_follow(@user) %>
    <%= button_tag "Following", :disabled => true %>
    <%= link_to "Unfollow", current_user.does_follow(@user), method: :delete %>
  <% else %>
    <%= form_for @user.followed_by.build do |f| %>
      <%= f.hidden_field :followee_id %>
      <%= f.submit "Follow" %>
    <% end %>
  <% end %>
<% end %>

<p>Tweets:</p>

<table>
  <% @user.tweets.each do |tweet| %>
    <tr><td><%= tweet.content %></td></tr>
  <% end %>
</table>

<p>Followed by:</p>
<table>
  <% @user.followers.each do |follower| %>
    <tr><td><%= follower.name %></td></tr>
  <% end %>
</table>

<p>Following:</p>
<table>
  <% @user.following.each do |following| %>
    <tr><td><%= following.name %></td></tr>
  <% end %>
</table>
